<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First heading</title>
</head>
<body>
    <div class="container d-flex bg-white text-center">
        <div>
            <h1 class="pt-2 m-0">First Heading <span class="text-secondary">will catch your eye</span></h1>
            <p class="fs-3 m-0">Lorem ipsum odor amet, consectetuer adipiscing elit. At condimentum venenatis amet bibendum dolor fusce. Mus ex justo, conubia montes vivamus volutpat etiam ultricies?</p>
        </div>
        <div>
            <img src="/website/assets/img/1.jpg" class="rounded-circle width-100% h-50 pt-3"> 
        </div>
    </div>
</body>
</html>