<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <div class="container bg-white d-flex p-2">
        <div>
            <img src="./assets/img/2.jpg" class="rounded-circle" height="200px">
        </div>
        <div class="container mx-auto text-left mt-4">
            <h3>The Second Heading <span class="text-secondary">Is Pretty Cool Too</span></h3>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. In dolores est sequi voluptates tenetur! Eligendi vel labore saepe modi consequatur laboriosam corporis asperiores assumenda harum? Excepturi vero eos nemo? Maxime.
            </p>
        </div>
    </div>
</body>
</html>