<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tagline</title>
</head>

<body>
    <div class="container p-0 w-50">
        <div class="card text-bg-dark">
        <img src="/website/assets/img/bg.jpg" class="img-responsive">
            <div class="card-img-overlay">
                <h1 class="card-title text-center bg-light fs-1 mt-5">One page Wonder</h1>
                <p class="card-text text-center bg-light fs-3 mt-3">will knock your socks off</p>
            </div>
        </div>
    </div>
</body>

</html>